.FaeReco {
  text-align: center;
}
.FaeReco > span {
  font-size: 25px;
}
.WebCam_container {
  margin: 20px 0 5px 0;
  padding: 0;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
}
.Canva_Conatiner {
  position: absolute;
}
